*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    overflow: hidden;
}
.background__elements{
    z-index: 1;
}
.bck__el1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 1400px;
    height: 650px;
}
/* .bck__el2{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;

} */
.interface{
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 45px 76px 0px 30px;
}
.info{
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.info__card{
    margin-right: 30px;
    margin-bottom: 20px;
    width: 320px;
    height: 245px;
    /* background: rgba(255,255,255,1); */
    /* border: 1px solid #000000; */
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    align-items: center;
    }
.foto{
    border-radius: 25px;
    border: 2px solid #FFFFFF;
}
.preview1{
    height: 270px;
    width: 240px;
    
}
.info__card:hover{
    cursor: pointer;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.25);
}
.more{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 70px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}
.more-info__card{
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 70px;
}
.info__card2{
    width: 245px;
    height: 270px;
}
.info__card6{
    width: 245px;
    height: 270px;
}

.more-info__1{
    position: absolute;
    top: 60px;
    left: 130px;
    visibility: hidden;
}
.more-info__2{
    position: absolute;
    top: 60px;
    left: 250px;
    visibility: hidden;
    margin-left: 300px;
}
.more-info__3{
    position: absolute;
    top: 60px;
    left: 850px;
    visibility: hidden;
}
.more-info__4{
    position: absolute;
    top: 60px;
    left: 980px;
    visibility: hidden;
}
.more-info__5{
    position: absolute;
    top: 380px;
    left: 130px;
    visibility: hidden;
}
.more-info__6{
    position: absolute;
    top: 360px;
    left: 250px;
    visibility: hidden;
    margin-left: 300px;
    
}
.more-info__7{
    position: absolute;
    top: 380px;
    left: 850px;
    visibility: hidden;
}
.more-info__8{
    position: absolute;
    top: 380px;
    left: 980px;
    visibility: hidden;
}
/* open */
.active{
    display: block;
    opacity: 0;
    animation: ani 1.5s forwards;
}
.big{
    visibility: visible;
    animation: bigger 1.5s forwards;
}
.big6{
    animation: bigger6 1.5s forwards;
    visibility: visible;
    
}

/* close */
.removed{
    display: block;
    animation: close 1.5s forwards;
}

.small1{
    visibility: visible;
    animation: smaller1 1.5s forwards;
}
.small2{
    visibility: visible;
    animation: smaller2 1.5s forwards;
}
.small3{
    visibility: visible;
    animation: smaller3 1.5s forwards;
}
.small4{
    visibility: visible;
    animation: smaller4 1.5s forwards;
}
.small5{
    visibility: visible;
    animation: smaller5 1.5s forwards;
}
.small6{
    visibility: visible;
    animation: smaller6 1.5s forwards;
}
.small7{
    visibility: visible;
    animation: smaller7 1.5s forwards;
}
.small8{
    visibility: visible;
    animation: smaller8 1.5s forwards;
}
@keyframes ani {
  0% {opacity: 0; }
  100% {opacity: 1;}
}

@keyframes bigger {
  0% {width: 12%;
      height: 35%;  
    }
  100% {width: 80%;
        height: 90%;
        top: 40px;
        left: 50px; 
    }
}
@keyframes bigger6 {
    0% {width: 12%;
        height: 35%;  
      }
    100% {width: 40%;
          height: 90%;
          top: 40px;
          left: 50px; 
      }
  }

@keyframes close {
  0% {opacity: 1; }
  100% {opacity: 0;}
}

@keyframes smaller1 {
  0% {  width: 80%;
        height: 90%;
        top: 40px;
        left: 50px;
    }
  100% {width: 12%;
        height: 35%;
        top: 70px;
        left: 130px;
    }
}
@keyframes smaller2 {
  0% {  width: 40%;
        height: 90%;
        top: 40px;
        left: 50px;
    }
  100% {width: 12%;
        height: 35%;
        top: 70px;
        left: 250px;
    }
}
@keyframes smaller3 {
  0% {  width: 80%;
        height: 90%;
        top: 40px;
        left: 50px;
    }
  100% {width: 12%;
        height: 35%;
        top: 70px;
        left: 850px;
    }
}
@keyframes smaller4 {
  0% {  width: 80%;
        height: 90%;
        top: 40px;
        left: 50px;
    }
  100% {width: 12%;
        height: 35%;
        top: 80px;
        left: 980px;
    }
}
@keyframes smaller5 {
  0% {  width: 80%;
        height: 90%;
        top: 40px;
        left: 50px;
    }
  100% {width: 12%;
        height: 35%;
        top: 380px;
        left: 130px
    }
}
@keyframes smaller6 {
  0% {  width: 40%;
        height: 90%;
        top: 40px;
        left: 50px;
    }
  100% {width: 12%;
        height: 35%;
        top: 380px;
        left: 250px;
    }
}
@keyframes smaller7 {
  0% {  width: 80%;
        height: 90%;
        top: 40px;
        left: 50px;
    }
  100% {width: 12%;
        height: 35%;
        top: 380px;
        left: 850px;
    }
}
@keyframes smaller8 {
  0% {  width: 80%;
        height: 90%;
        top: 40px;
        left: 50px;
    }
  100% {width: 12%;
        height: 35%;
        top: 380px;
        left: 980px;
    }
}